{% extends 'base.html' %}
{% block content %}

<h1>Ofertas Especiales</h1>

<div class="grid">
    <div class="card oferta">
        <h3>Juventus Retro</h3>
        <p>2x1 en la segunda unidad</p>
        <p class="precio">$45.000</p>
    </div>
    <div class="card oferta">
        <h3>Arsenal Home</h3>
        <p>20% de descuento</p>
        <p class="precio">$48.000</p>
    </div>
    <div class="card oferta">
        <h3>Selección Chilena</h3>
        <p>Envío gratis</p>
        <p class="precio">$50.000</p>
    </div>
</div>

{% endblock %}