{% extends 'base.html' %}
{% block content %}

<h1>Nuestro Catálogo</h1>

<div class="grid">
    <div class="card">
        <h3>Real Madrid</h3>
        <p>Temporada 2024/25</p>
        <p class="precio">$65.000</p>
    </div>
    <div class="card">
        <h3>Barcelona</h3>
        <p>Temporada 2024/25</p>
        <p class="precio">$60.000</p>
    </div>
    <div class="card">
        <h3>Boca Juniors</h3>
        <p>Temporada 2024/25</p>
        <p class="precio">$55.000</p>
    </div>
    <div class="card">
        <h3>River Plate</h3>
        <p>Temporada 2024/25</p>
        <p class="precio">$55.000</p>
    </div>
</div>

{% endblock %}